---
import GuideHeader from '../../components/GuideHeader.astro';
import MarkdownFile from '../../components/MarkdownFile.astro';
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getGuideById } from '../../lib/guide';

interface Params extends Record<string, string | undefined> {
  guideId: string;
}

const { guideId } = Astro.params;
if (!guideId) {
  return Astro.redirect('/404');
}
const guide = await getGuideById(guideId!).catch(() => null);
if (!guide) {
  return Astro.redirect('/404');
}

const { frontmatter: guideData } = guide;
---

<BaseLayout
  title={guideData.seo.title}
  description={guideData.seo.description}
  permalink={`/guides/${guideId}`}
  canonicalUrl={guideData.canonicalUrl}
>
  <GuideHeader guide={guide} />

  <div class='mx-auto max-w-[700px] py-5 sm:py-10'>
    <MarkdownFile>
      <guide.Content />
    </MarkdownFile>
  </div>
</BaseLayout>
