---
import FeaturedItems from '../components/FeaturedItems/FeaturedItems.astro';
import HeroSection from '../components/HeroSection/HeroSection.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import { egePlans, egeSubjects } from '../data/ege';
---

<BaseLayout
  title='Подготовка к ЕГЭ'
  description={'Подготовка к ЕГЭ по предметам: план, материалы, шаги.'}
  permalink={'/'}
>
  <div slot='ad-slot-script'></div>
  <div slot='ad-slot'></div>

  <div class='bg-linear-to-b from-slate-900 to-black'>
    <HeroSection />

    <div id='subjects'>
      <FeaturedItems
        heading='Предметы'
        featuredItems={egeSubjects.map((subject) => ({
          text: subject.title,
          url: `/ege/roadmap/${subject.slug}`,
        }))}
        showCreateRoadmap={false}
        allowBookmark={false}
      />
    </div>

    <div id='plans'>
      <FeaturedItems
        heading='Планы подготовки'
        featuredItems={egePlans.map((plan) => ({
          text: plan.title,
          url: `/plans#${plan.slug}`,
        }))}
        showCreateRoadmap={false}
        allowBookmark={false}
      />
    </div>
  </div>
</BaseLayout>
