---
import Loader from '../Loader.astro';
import TopicOverlay from '../TopicOverlay/TopicOverlay.astro';
import './FrameRenderer.css';

export interface Props {
  resourceType: 'roadmap' | 'best-practice';
  resourceId: string;
  jsonUrl: string;
  dimensions?: {
    width: number;
    height: number;
  };
}

const { resourceId, resourceType, jsonUrl, dimensions = null } = Astro.props;
---

<div
  id='resource-svg'
  style={dimensions ? `--aspect-ratio:${dimensions.width}/${dimensions.height}` : null}
  data-resource-type={resourceType}
  data-resource-id={resourceId}
  data-json-url={jsonUrl}
>
  <Loader />
</div>

<script src='./renderer.js'></script>
