---
import { ChallengeView } from '../../../../components/Course/ChallengeView';
import { LessonView } from '../../../../components/Course/LessonView';
import { QuizView } from '../../../../components/Course/QuizView';
import { CourseLayout } from '../../../../components/Course/CourseLayout';
import SkeletonLayout from '../../../../layouts/SkeletonLayout.astro';
import {
  getAllCourses,
  getChaptersByCourseId,
  type CourseFileType,
  type ChapterFileType,
  type LessonFileType,
} from '../../../../lib/course';

interface Params extends Record<string, string | undefined> {
  courseId: string;
  chapterId: string;
  lessonId: string;
}

interface Props {
  course: CourseFileType & { chapters: ChapterFileType[] };
  chapter: ChapterFileType;
  lesson: LessonFileType;
}

export async function getStaticPaths() {
  const courses = await getAllCourses();
  const coursesWithChapters = await Promise.all(
    courses.map(async (course) => {
      const chapters = await getChaptersByCourseId(course.id);
      return {
        ...course,
        chapters,
      };
    }),
  );

  const paths: {
    params: Params;
    props: Props;
  }[] = [];

  for (const course of coursesWithChapters) {
    const courseId = course.id;
    const courseChapters = course.chapters;

    for (const chapter of courseChapters) {
      for (const lesson of chapter.lessons) {
        paths.push({
          params: {
            courseId,
            chapterId: chapter.id,
            lessonId: lesson.id,
          },
          props: {
            course,
            chapter,
            lesson,
          },
        });
      }
    }
  }

  return paths;
}

const { courseId, chapterId } = Astro.params;
const { course, chapter, lesson } = Astro.props;
---

<SkeletonLayout title={course.frontmatter.title}>
  <CourseLayout
    courseId={courseId}
    chapterId={chapterId}
    lessonId={lesson.id}
    lesson={lesson}
    title={course.frontmatter.title}
    chapters={course.chapters}
    completedPercentage={0}
    client:load
  >
    {
      lesson.frontmatter.type === 'challenge' && (
        <ChallengeView lesson={lesson} client:load>
          <div class='course-content prose prose-lg prose-invert mt-8 text-zinc-300 prose-headings:mb-3 prose-headings:mt-8 prose-code:text-zinc-100 prose-li:my-1 prose-thead:border-zinc-800 prose-tr:border-zinc-800'>
            <lesson.Content />
          </div>
        </ChallengeView>
      )
    }

    {
      lesson.frontmatter.type === 'lesson' && (
        <LessonView client:load>
          <div class='course-content prose prose-lg prose-invert mt-8 text-zinc-300 prose-headings:mb-3 prose-headings:mt-8 prose-code:text-zinc-100 prose-li:my-1 prose-thead:border-zinc-800 prose-tr:border-zinc-800'>
            <lesson.Content />
          </div>
        </LessonView>
      )
    }

    {
      lesson.frontmatter.type === 'quiz' && (
        <QuizView lesson={lesson} client:load />
      )
    }
  </CourseLayout>
</SkeletonLayout>
