---
import { GuideContent } from '../../components/Guide/GuideContent';
import BaseLayout from '../../layouts/BaseLayout.astro';
import { getOpenGraphImageUrl } from '../../lib/open-graph';
import { getOfficialGuide } from '../../queries/official-guide';

const guideId = 'vs-python';
const roadmapId = 'sql';
const guide = await getOfficialGuide(guideId, roadmapId);

const ogImageUrl =
  guide?.seo?.ogImageUrl ||
  getOpenGraphImageUrl(
    {
      group: 'guide',
      resourceId: guideId,
    },
    {
      roadmapId,
    },
  );

const permalink = `/${roadmapId}/${guideId}`;
---

<BaseLayout
  title={guide?.seo?.metaTitle ?? guide?.title ?? ''}
  description={guide?.seo?.metaDescription ?? guide?.description ?? ''}
  permalink={permalink}
  canonicalUrl={guide?.seo?.canonicalUrl}
  ogImageUrl={ogImageUrl}
>
  <GuideContent guide={guide!} client:load />
  <div slot='changelog-banner'></div>
</BaseLayout>
