---
import '../styles/global.css';

import Footer from '../components/Footer.astro';
import Navigation from '../components/Navigation/Navigation.astro';
import { siteConfig } from '../lib/config';

export interface Props {
  title: string;
  ogImageUrl?: string;
  htmlClassName?: string;
  bodyClassName?: string;
  redirectUrl?: string;
  description?: string;
  keywords?: string[];
  noIndex?: boolean;
  canonicalUrl?: string;
  permalink?: string;
  jsonLd?: Record<string, unknown>[];
}

const {
  title = siteConfig.title,
  htmlClassName,
  bodyClassName,
  description = siteConfig.description,
  ogImageUrl = 'https://roadmap.sh/img/og-img.png',
  keywords = siteConfig.keywords,
  noIndex = false,
  permalink = '',
  canonicalUrl: givenCanonical = '',
  jsonLd = [],
  redirectUrl = '',
} = Astro.props;

// Remove trailing slashes to consider the page as canonical
const currentPageAbsoluteUrl = `https://roadmap.sh${permalink}`;
const canonicalUrl = givenCanonical || currentPageAbsoluteUrl;
const commitUrl = `https://github.com/kamranahmedse/developer-roadmap/commit/${
  import.meta.env.GITHUB_SHA
}`;
---

<!doctype html>
<html lang='ru' class={htmlClassName}>
  <head>
    <meta charset='UTF-8' />
    <meta name='generator' content={Astro.generator} />
    <meta name='commit' content={commitUrl} />
    <title>{title}</title>
    <meta name='description' content={description} />
    <meta name='keywords' content={keywords.join(', ')} />
    {
      redirectUrl && (
        <meta http-equiv='refresh' content={`1;url=${redirectUrl}`} />
      )
    }
    {noIndex && <meta name='robots' content='noindex' />}
    <meta
      name='viewport'
      content='width=device-width, user-scalable=yes, initial-scale=1.0, maximum-scale=3.0, minimum-scale=1.0'
    />
    <meta http-equiv='Content-Language' content='ru' />

    <meta name='twitter:card' content='summary_large_image' />
    <meta name='twitter:creator' content='@kamrify' />

    <meta property='og:image:width' content='1200' />
    <meta property='og:image:height' content='630' />
    <meta
      property='og:image'
      content={ogImageUrl || 'https://roadmap.sh/img/og-img.png'}
    />
    <meta property='og:image:alt' content='ЕГЭ' />
    <meta property='og:site_name' content='ЕГЭ' />
    <meta property='og:title' content={title} />
    <meta property='og:description' content={description} />
    <meta property='og:type' content='website' />
    <meta property='og:url' content={currentPageAbsoluteUrl} />

    <link rel='canonical' href={canonicalUrl} />

    <meta name='mobile-web-app-capable' content='yes' />
    <meta name='apple-mobile-web-app-capable' content='yes' />
    <meta
      name='apple-mobile-web-app-status-bar-style'
      content='black-translucent'
    />
    <meta name='apple-mobile-web-app-title' content='ЕГЭ' />
    <meta name='application-name' content='ЕГЭ' />
    <meta
      name='ahrefs-site-verification'
      content='04588b1b3d0118b4f973fa24f9df38ca6300d152cc26529a639e9a34d09c9880'
    />

    <link
      rel='apple-touch-icon'
      sizes='180x180'
      href='/manifest/apple-touch-icon.png'
    />
    <meta name='msapplication-TileColor' content='#101010' />
    <meta name='theme-color' content='#848a9a' />

    <link rel='manifest' href='/manifest/manifest.json' />
    <link
      rel='icon'
      type='image/png'
      sizes='32x32'
      href='/manifest/icon32.png'
    />
    <link
      rel='icon'
      type='image/png'
      sizes='16x16'
      href='/manifest/icon16.png'
    />
    <link
      rel='shortcut icon'
      href='/manifest/favicon.ico'
      type='image/x-icon'
    />

    <link rel='icon' href='/manifest/favicon.ico' type='image/x-icon' />

    <slot name='after-header' />
    {
      jsonLd.length > 0 && (
        <script type='application/ld+json' set:html={JSON.stringify(jsonLd)} />
      )
    }

  </head>
  <body class={`flex min-h-screen flex-col ${bodyClassName ?? ''}`}>
    <slot name='page-header'>
      <Navigation />
    </slot>

    <slot />

    <slot name='page-footer'>
      <Footer />
    </slot>

    <slot name='after-footer' />
  </body>
</html>
